<h1>Pricing</h1>
<p>The price you pay for electricity depends on where you live in New Zealand.&nbsp;</p>
<div class="row">
    <div class="large-6 push-6 columns">
        <p>
            <img id="map" class="jq_maphilight" title="" src="assets/Uploads/maps/powermap.png" alt="" align="right" usemap="#map"/>
        </p>
    </div>
    <div class="large-6 pull-6 columns">
        <div id="map_info">
            <div id="p0" class="map_info" style="display: none;"><em>Buller</em><br/>
                <h5>Buller Electricity</h5>
                Karamea, Westport, Arapito, Birchfield, Buller Gorge, Burnetts Face, Caldervale, Cape Foulwind, Carters
                Beach, Charleston, Conns Creek, Corbyvale, Denniston, Fairdown, Giles Terrace, Granity, Hector, Karamea
                Bend, Kongahu, Little Wanganui, Market Cross, Miko, Millerton, Mokihinui, Ngakawau, Nikau, Oparara,
                Pahautane, Pororari, Rahui, Rochfort Terrace, Scarlett Slips, Scotts Camp, Seddonville, Sergeants Hill,
                Stag Flat, Stockton, Summerlea, Tauranga Bay, Te Kuha, Te Namu, Tiromoana, Tiroroa, Umere, Waimangaroa,
                Waimarie, Gillows Dam, Orowaiti Lagoon,
            </div>
            <div id="p1" class="map_info" style="display: none;"><em>Far North</em><br/>
                <h5><a href="content/topenergy">Top Energy Network</a></h5>
                Ahipara, Awanui, Haruru, Kaeo, Kaikohe, Kaitaia, Kawakawa, Kerikeri, Kohukohu, Mangonui, Moerewa,
                Ohaeawai, Okaihau, Paihia, Rawene, Russell
            </div>
            <div id="p2" class="map_info" style="display: none;"><em>Northland</em><br/>
                <h5>Northpower</h5>
                Whangarei, Dargaville, Hikurangi, Maungatapere, Maungaturoto, Paparoa, Ruakaka, Ruawai, Te Kopuru,
                Waipu, Horahora, Kamo, Kensington, Mairtown, Mangawhare, Maunu, Morningside, Onerahi, Otangarei,
                Parahaki, Port Whangarei, Raumanga, Regent, Riverside, Sherwood Rise, Tikipunga, Vinetown, Whangarei
                Central, Whau Valley, Woodhill<br/> Islands: Coppermine, Lady Alice, Taranga, Whatupuke
            </div>
            <div id="p3" class="map_info" style="display: none;"><em>Auckland</em><br/>
                <h5>VECTOR</h5>
                Auckland, Clevedon, Helensville, Kumeu, Orewa, Papakura, Riverhead, Waimauku, Warkworth, Wellsford,
                Whangaparaoa <br/>Islands: Herald, Browns, Great Barrier, Karamuramu, Kawau, Little Barrier (Hauturu),
                Motuhoropapa, Motuihe, Motuketekete, Motuora, Moturekareka, Motutapu, Otata, Pakatoa, Pakihi, Ponui,
                Puketutu, Rakino, Rakitu, Rangitoto, Rotoroa, Tarahiki, Tiritiri Matangi, Traherne, Waiheke, Wooded
            </div>
            <div id="p5" class="map_info" style="display: none;"><em>Counties</em><br/>
                <h5>Counties Power</h5>
                Drury, Pokeno, Pukekohe, Tuakau, Waiuku, Pahurehure, Pukekohe West, Red Hill, Rosehill,
            </div>
            <div id="p6" class="map_info" style="display: none;"><em>Waikato</em><br/>
                <h5>WEL Networks</h5>
                Hamilton, Glen Massey, Gordonton, Horotiu, Huntly, Meremere, Ngaruawahia, Raglan, Rangiriri, Taupiri, Te
                Kauwhata, Whatawhata, Beerescourt, Chartwell, Chedworth Park, Claudelands, Deanwell, Dinsdale, Enderley,
                Fairfield, Fairview Downs, Fitzroy, Flagstaff, Forest Lake, Frankton, Glenview, Hillcrest, Huntly West,
                Livingstone, Maeroa, Melville, Nawton, Pukete, Queenwood, Riverlea, Silverdale, St Andrews, Starrtown,
                Te Rapa, Western Heights, Westmere, Whitiora,
            </div>
            <div id="p7" class="map_info" style="display: none;"><em>Waipa</em><br/>
                <h5>Waipa Networks</h5>
                Cambridge, Kawhia, Kihikihi, Ohaupo, Otorohanga, Pirongia, Te Awamutu, Leamington
            </div>
            <div id="p8" class="map_info" style="display: none;"><em>Powerco</em><br/>
                <h5>Powerco</h5>
                Tauranga, Arapuni, Coromandel, Katikati, Kerepehi, Maketu, Matamata, Morrinsville, Mt Maunganui, Ngatea,
                Omokoroa Beach, Paengaroa, Paeroa, Putaruru, Te Aroha, Te Puke, Thames, Tirau, Tokoroa, Waharoa, Waihi,
                Waihi Beach, Waihou, Waitoa, Whangamata, Whitianga, Amisfield, Aotea, Arataki, Bellevue, Bethlehem,
                Brookfield, Gate Pa, Greerton, Hairini, Judea, Matarawa, Matua, Maungatapu, Merivale, Mt Maunganui
                South, Omanu, Otumoetai, Papamoa, Papamoa Beach, Papanui, Paraonui, Parkdale, Parkvale, Poike,
                Strathmore, &nbsp;Te Maunga, Te Reti, Tokoroa Central, Welcome Bay<br/>Islands:Great Mercury, Mercury,
                Motuoruhi, Motutapere, Red Mercury, Waimate, Whanganui,
            </div>
            <div id="p9" class="map_info" style="display: none;"><em>King Country</em><br/>
                <h5>The Lines Company</h5>
                Te Kuiti/Piopio, Taumarunui, Mangakino, Turangi, Otorohanga, Ohakune
            </div>
            <div id="p10" class="map_info" style="display: none;"><em>Taupo/Hawkes Bay</em><br/>
                <h5>Unison</h5>
                Taupo, Havelock North, Gradwell, Hilltop, Nukuhau, Rainbow Point, Richmond Heights, Tauhara, Waipahihi,
                Wharewaka, Fenton Park, Fordlands, Glenholme, Hannahs Bay, Hillcrest, Hinemoa Point, Holdens Bay, Kawaha
                Point, Koutu, Lynmore, Mangakakahi, Ngapuna, Ngongotaha, Ohinemutu, Owhata, Pleasant Heights, Pomare,
                Pukehangi, Rotorua Central, Selwyn Heights, Springfield, Sunnybrook, Tihiotonga, Utuhina, Western
                Heights, Whakarewarewa, Ahuriri, Akina, Bluff Hill, Camberley, Flaxmere, Frimley, Greenmeadows,
                Greenmeadows East, Hospital Hill, Jervoistown, Mahora, Maraenui, Marewa, Mayfair, Mission View, Napier
                South, Onekawa, Onekawa Industrial, Pandora, Parkvale, Pirimai, Raureka, St Leonards, Stortford Lodge,
                Tamatea, Taradale, Te Awa, Tomoana, Waipatu, Westshore, Woolwich,
            </div>
            <div id="p11" class="map_info" style="display: none;"><em>Bay of Plenty</em><br/>
                <h5>Horizon Energy</h5>
                Edgecumbe, Kawerau, Matata, Opotiki, Taneatua, Te Teko, Whakatane, Murupara, Coastlands, Kawerau South,
            </div>
            <div id="p39" class="map_info" style="display: none;"><em>Central Hawkes Bay</em><br/>
                <h5>Centralines (managed by Unison)</h5>
                Ongaonga, Otane, Porangahau, Takapau, Tikokino, Waipawa, Waipukurau
            </div>
            <div id="p13" class="map_info" style="display: none;"><em>Southern Hawkes Bay</em><br/>
                <h5>Scanpower Network</h5>
                Dannevirke, Woodville, Norsewood
            </div>
            <div id="p14" class="map_info" style="display: none;"><em>Otago Lakes/Dunedin</em><br/>
                <h5>Delta</h5>
                Dunedin, Queenstown, Wanaka, Milford Sound, Alexandra, Arrowtown, Clyde, Cromwell, Queenstown, Wanaka,
                Allanton, Brighton, Mosgiel, Outram, Port Chalmers, Roxburgh, Roxburgh Hydro, Waldronville, Boydtown,
                Butel Park, Fernhill, Kawarau Falls, Lake Hayes, Quail Rise, Abbotsford, Andersons Bay, Balaclava,
                Balmacewen, Belleknowes, Bradford, Brockville, Burnside, Carlton Hill, Caversham, Clyde Hill, Concord,
                Corstorphine, Dalmore, Fairfield, Glenleith, Glenross, Green Island, Halfway Bush, Helensburgh,
                Janefield, Kaikorai, Kenmure, Kensington, Kew, Kinmont Park, Leith Valley, Liberton, Littlebourne,
                Lookout Point, Maori Hill, Maryhill, Mornington, Mt Mera, Musselburgh, Normanby, North Dunedin, North
                East Valley, Ocean Grove, Opoho, Pine Hill, Roslyn, Shiel Hill, South Dunedin, St Clair, St Clair Park,
                St Kilda, Sunnyvale, Sunshine, Tainui, The Cove, Vauxhall, Wakari, Waverley, Wingatui, Woodhaugh,
            </div>
            <!--<div id="p15" class="map_info" style="display: none;"><em>Rotorua</em><br /><a href="rotorua">Unison Network</a><br /> Rotorua, Taupo<br /><a href="taupo">Taupo</a><br /> Taupo, Wairakei, Kinloch<br /><a href="content/unison">Hawkes Bay</a><br />Napier, Hastings, Clive, Havelock North, Bay View</div>
                        -->
            <div id="p16" class="map_info" style="display: none;"><em>Wellington</em><br/>
                <h5>Wellington Electricity</h5>
                Wellington, Lower Hutt, Upper Hutt, Porirua, Alicetown, Arakura, Aro Valley, Ascot Park, Ava, Avalon,
                Belmont, Berhampore, Birchville, Boulcott, Breaker Bay, Broadmeadows, Brooklyn, Brown Owl, Camborne,
                Cannons Creek, Cashmere, Chartwell, Churton Park, Crofton Downs, Days Bay, Eastbourne, Elsdon, Epuni,
                Evans Bay, Fairfield, Glendale, Glenside, Golden Gate, Gracefield, Greenacres, Grenada, Grenada North,
                Grenada Village, Greta Point, Happy Valley, Harbour View, Hataitai, Haywards, Heretaunga, Highbury,
                Highland Park, Holborn, Homedale, Horokiwi, Houghton Bay, Island Bay, Johnsonville, Kaiwharawhara,
                Karaka Bay, Karehana Bay, Karori, Karori West, Kelburn, Kelson, Khandallah, Kilbirnie, Kingsley Heights,
                Kingston, Korokoro, Kowhai Park, Lambton, Linden, Lindenvale, Lower Hutt Central, Lowry Bay, Lyall Bay,
                Mahina Bay, Makara, Makara Beach, Mana, Manor Park, Maoribank, Maungaraki, Maupuia, Melling, Melrose,
                Miramar, Mitchelltown, Moa Point, Moera, Mornington, Mt Cook, Mt Crawford, Mt Marua, Mt Victoria,
                Muritai, Naenae, Newlands, Newtown, Ngaio, Ngauranga, Normandale, Northland, Ohariu, Onepoto, Oriental
                Bay, Owhiro Bay, Papakowhai, Paparangi, Paremata, Parkway, Petone, Pinehaven, Pipitea, Plimmerton, Point
                Howard, Pomare, Porirua East, Pukerua Bay, Rangoon Heights, Ranui Heights, Raroa, Redwood, Riverstone
                Terraces, Rona Bay, Rongotai, Roseneath, Scorching Bay, Seatoun, Seatoun Heights, Seaview, Silverstream,
                Sorrento Bay, Southgate, Southgate, Stokes Valley, Strathmore, Strathmore Park, Sundale, Sunshine Bay,
                Taita, Taitville, Takapu Valley, Takapuwahia, Tawa, Te Aro, Te Kainga, Thorndon, Timberlea, Tirohanga,
                Titahi Bay, Totara Park, Trentham, Upper Hutt Central, Vogeltown, Waddington, Wadestown, Wainuiomata,
                Waitangirua, Waiwhetu, Wallaceville, Waterloo, Wellington Central, Westhaven, Whitby, Wilton, Wingate,
                Woburn, Woodridge, Worser Bay, York Bay<br/>Islands: Mana
            </div>
            <div id="p17" class="map_info" style="display: none;"><em>Kapiti Coast/Horowhenua</em><br/>
                <h5>Electra</h5>
                Otaki, Paekakariki, Paraparaumu, Raumati, Waikanae, Foxton, Foxton Beach, Levin, Manakau, Shannon,
                Tokomaru, Parklands, Weraroa,
            </div>
            <div id="p19" class="map_info" style="display: none;"><em>Nelson</em><br/>
                <h5>Nelson Electricity</h5>
                Nelson, Rangitoto ki te Tonga / D'Urville Island, Beachville, Bishopdale, Britannia Heights, Brooklands,
                Maitai Valley, Moana, Port Nelson, Stepneyville, The Brook, The Wood, Toi Toi, Washington Valley,
            </div>
            <div id="p20" class="map_info" style="display: none;"><em>Tasman</em><br/>
                <h5>Network Tasman</h5>
                <br/>Brightwater, Collingwood, Motueka, Murchison, Richmond, Takaka, Wakefield, Annesbrook, Atawhai,
                Dodson Valley, Enner Glynn, Maitlands, Marybank, Monaco, Nayland, Stoke, Tahunanui, Tui Glen,
                Wakatu<br/>Islands: Rabbit
            </div>
            <div id="p21" class="map_info" style="display: none;"><em>Marlborough</em><br/>
                <h5>Marlborough Lines</h5>
                Blenheim, Havelock, Picton, Seddon, Spring Creek, Tuamarina, Burleigh, Farnham, Islington, Mayfield,
                Redwoodtown, Riversdale, Roselands, Solar Heights, Springlands, Townsend, Whitney, Wither Rise,
                Witherlea, Yelverton<br/>Islands:&nbsp;Arapawa,&nbsp;Blumine,&nbsp;Forsyth,&nbsp;Rangitoto ki te Tonga /
                D'Urville
            </div>
        </div>
        <div id="p24" class="map_info" style="display: none;">Southland<br/>
            <h5>Powernet Ltd.</h5>
            Invercargill, Manapouri, Te Anau, Bluff, Edendale, Gore, Lumsden, Makarewa, Mataura, Mossburn, Nightcaps,
            Ohai, Otautau, Riversdale, Riverton, Tokanui, Tuatapere, Wallacetown, Winton, Wyndham, Clinton, Heriot,
            Kelso, Owaka, Tapanui, Appleby, Avenal, Clifton, East Gore, Georgetown, Gladstone, Glengarry, Gordon,
            Grasmere, Hawthorndale, Heidelberg, Jacobs Town, Kew, Kingswell, Newfield, North Gore, Otatara, Richmond,
            Rockdale, Rosedale, Strathern, Tisbury, Waihopai, Waikiwi, Waverley, Wayland, Wentworth Heights, West Gore,
            West Invercargill, Windsor<br/>Islands:&nbsp;Secretary,&nbsp;Codfish,&nbsp;Resolution,&nbsp;Stewart.
        </div>
        <div id="p25" class="map_info" style="display: none;"><em>Otago Joint Venture</em><br/>
            <h5>OtagoNet</h5>
            Balclutha, Benhar, Kaitangata, Karitane, Lawrence, Middlemarch, Milton, Naseby, Palmerston, Ranfurly,
            Stirling, Waikouaiti, Waitati, Warrington,
        </div>
        <div id="p26" class="map_info" style="display: none;"><em>Christchurch</em><br/>
            <h5>Orion Network</h5>
            Christchurch, Akaroa, Belfast, Darfield, Doyleston, Dunsandel, Governors Bay, Hororata, Kirwee, Leeston,
            Lincoln, Lyttelton, Prebbleton, Rolleston, Sheffield, Southbridge, Springfield, Springston, Templeton,
            Addington, Aranui, Avondale, Avonhead, Avonside, Balmoral Hill, Barrington, Beckenham, Bexley, Bishopdale,
            Bromley, Broomfield, Bryndwr, Burnside, Burwood, Casebrook, Cashmere, Christchurch Central, Clifton Hill,
            Cracroft, Dallington, Fendalton, Ferrymead, Halswell, Harewood, Heathcote Valley, Hei Hei, Hillmorton,
            Hillsborough, Hoon Hay, Hornby, Huntsbury, Hyde park, Ilam, Islington, Linwood, Lower Cashmere, Mairehau,
            Masham, McCormacks Bay, Merivale, Middleton, Moncks Bay, Moncks Spur, Mt Pleasant, Murray Aynsley, New
            Brighton, North Beach, North Linwood, North New Brighton, Northcote, Northwood, Oaklands, Opawa, Papanui,
            Parklands, Phillipstown, Redcliffs, Redwood, Redwood Springs, Riccarton, Richmond, Richmond Hill, Russley,
            Scarborough, Shirley, Sockburn, Somerfield, South New Brighton, Southshore, Spreydon, St Albans, St Andrews
            Hill, St Martins, Strowan, Styx, Sumner, Sydenham, Upper Riccarton, Waimairi Beach, Wainoni, Waltham,
            Westmorland, Wigram, Woolston,
        </div>
        <div id="p27" class="map_info" style="display: none;"><em>Whanganui/Manawatu/Taranaki</em><br/>
            <h5>Powerco</h5>
            New Plymouth, Wanaganui, Palmerston North, Apiti, Ashhurst, Bulls, Bunnythorpe, Carterton, Cheltenham,
            Eketahuna, Eltham, Featherston, Feilding, Greytown, Halcombe, Hawera, Hunterville, Inglewood, Kaponga,
            Kimbolton, Manaia, Mangatainoka, Mangaweka, Martinborough, Marton, Masterton, Midhirst, Normanby, Oakura,
            Okaiawa, Okato, Opunake, Pahiatua, Patea, Raetihi, Ratana, Rongotea, Sanson, Stratford, Taihape, Turakina,
            Urenui, Waiouru, Waitara, Waitotara, Waverley, Aramoho, Awapuni, Bastia Hill, Bell Block, Blagdon,
            Brightwater, Brooklands, Castlecliff, Cloverlea, Durie Hill, Ferndale, Fitzherbert, Fitzroy, Frankleigh
            Park, Glen Avon, Gonville, Highbury, Highlands Park, Hokowhitu, Hurdon, Kelvin Grove, Lansdowne, Lynmouth,
            Marfell, Merrilands, Milson, Mosston, Moturoa, Nolantown, Otamatea, Port Taranaki, Putiki, Roslyn,
            Spotswood, Springvale, St Johns Hill, Strandon, Summerhill, Takaro, Terrace End, Upper Aramoho, Vogeltown,
            Wanganui East, Welbourn, West End, Westown, Whalers Gate, ,
        </div>
        <div id="p31" class="map_info" style="display: none;"><em>Westcoast</em><br/>
            <h5>Westpower/Electronet</h5>
            Reefton, Franz Josef, Harihari, Hokitika, Kumara, Ross, Whataroa, Greymouth, Blaketown, Cobden, Dunollie,
            Greymouth South, Karoro,
        </div>
        <div id="p32" class="map_info" style="display: none;"><em>Ashburton</em><br/>
            <h5>Electricity Ashburton</h5>
            Ashburton, Hinds, Methven, Rakaia, Allenton, Hampstead, Netherby, Tinwald,
        </div>
        <div id="p33" class="map_info" style="display: none;"><em>Gisborne</em><br/>
            <h5>Eastland Network</h5>
            Gisborne, Frasertown, Nuhaka, Ormond, Ruatoria, Te Araroa, Te Karaka, Tolaga Bay, Tuai, Wairoa, Awapuni,
            Elgin, Kaiti, Mangapapa, Midway, North Clyde, Outer Kaiti, Riverdale, Tamarau, Taruheru, Te Hapara,
            Victoria, Whataupoko,
        </div>
        <div id="p35" class="map_info" style="display: none;"><em>North Canterbury</em><br/>
            <h5>Mainpower</h5>
            Cheviot, Kaikoura, Culverden, Hanmer Springs, Waiau, Amberley, Cust, Hawarden, Kaiapoi, Oxford, Rangiora,
            Sefton, Waikari, Waipara, Woodend,
        </div>
        <div id="p36" class="map_info" style="display: none;"><em>South Canterbury</em><br/>
            <h5>Alpine Energy</h5>
            Fairlie, Geraldine, Pleasant Point, Temuka, Timaru, Twizel, Waimate, Gleniti, Glenwood, Grantlea, Highfield,
            Kensington, Maori Hill, Marchwiel, Parkside, Seaview, Smithfield, Waimataitai, Washdyke, Watlington, West
            End,
        </div>
        <div id="p37" class="map_info" style="display: none;"><em>Waitaki</em><br/>
            <h5>Network Waitaki</h5>
            Hampden, Herbert, Kakanui, Kurow, Maheno, Oamaru, Omarama, Otematata, Awamoa, Cape Wanbrow, Casa Nova,
            Eveline, Fernbrook, Glendale, Holmes Hill, Meadowbank, Redcastle, South Hill, South Oamaru,
        </div>
        <!--<div id="p38" class="map_info" style="display: none;"><em>Dannevirke</em><br /><a href="content/mainpower">Scanpower</a><br />Dannevirk</div>
                    --> <!--
<div id="p39" class="map_info" style="display: none;"><em>Souther Hawkes Bay</em><br /><a href="content/mainpower">Centralines</a></div>
--></div>
</div>
<div id="myModal" class="reveal-modal small">
    <h2>Pulse Energy Pricing</h2>

    <p>The pricing in your area is currently unavailable online.</p>

    <p>Please call us on <span class="bold" data-mce-mark="1">0800 785 735</span> to discuss your Freedom Plan.
        <a class="close-reveal-modal">&times;</a></p>
</div>


<map id="mapcoods" name="map">
<area data-reveal-id="myModal" title="Wellington Electricity" shape="poly" coords="299,308,299,303,311,293,322,292,321,297,317,304,312,310,309,313,305,312,304,308" name="m16" href="http://www.pulseenergy.co.nz/content/wellington" ALT="Wellington Electricity Lines">
<area data-reveal-id="myModal" title="Nelson Electricity" shape="poly" coords="254,308,250,308,246,304,253,302,255,306" name="m19" href="http://www.pulseenergy.co.nz/content/nelson">
<area data-reveal-id="myModal" title="NetworkTasman" shape="poly" coords="230,272,216,284,222,291,220,294,222,295,226,294,233,304,212,329,211,337,214,344,213,356,221,359,228,350,233,345,238,336,248,320,253,318,259,306,264,298,261,300,254,304,256,306,254,309,249,309,246,305,243,298,246,291,243,285,238,287,234,282,233,277,237,274,246,274,242,271,235,271" name="m20" href="http://www.pulseenergy.co.nz/content/tasman" ALT="Network Tasman">
<area data-reveal-id="myModal" title="Marlborough Lines" shape="poly" coords="275,345,286,329,285,326,283,320,280,315,281,310,289,305,283,305,287,301,289,294,279,294,277,290,272,290,268,296,268,300,265,298,254,318,248,321,234,344,240,345,246,345,249,349,242,357,248,359,255,351,268,343,268,348,273,351,277,348" name="m21" href="http://www.pulseenergy.co.nz/content/marlborough" ALT="Marlborough Lines">
<area data-reveal-id="myModal" title="Unison" shape="poly" coords="371,197,369,195,369,182,364,181,363,176,368,173,366,160,347,161,342,173,344,178,345,190,349,197,347,199,349,212,357,215,354,232,361,234,367,234,381,239,384,233,380,226,377,223,383,215,386,211,375,205" name="m10" href="http://www.pulseenergy.co.nz/content/unison" ALT="Unison">
<area data-reveal-id="myModal" title="Counties Power" shape="poly" coords="305,140,294,117,298,114,303,122,305,119,322,118,321,124,314,132,315,135,315,137" name="m5" href="http://www.pulseenergy.co.nz/content/counties" ALT="Counties Power">
<area data-reveal-id="myModal" title="Waipa Network" shape="poly" coords="305,165,305,160,321,157,330,149,335,156,331,157,333,162,334,164,332,167,316,167,314,172,310,172,309,167" name="m7" href="http://www.pulseenergy.co.nz/content/waipa" ALT="Waipa Networks">
<area data-reveal-id="myModal" title="Vector" shape="poly" coords="293,115,289,101,284,94,284,89,289,91,291,96,291,88,286,87,288,83,293,85,296,81,297,77,303,84,308,89,304,93,305,99,307,107,323,117,304,118,300,112" name="m3" href="http://www.pulseenergy.co.nz/content/united" ALT="VECTOR">
<area data-reveal-id="myModal" title="Powernet" shape="poly" coords="55,471,48,474,42,483,35,490,30,499,24,510,28,520,16,523,25,542,47,545,53,540,61,543,61,548,66,551,76,550,79,558,83,563,74,573,69,568,64,567,61,570,63,578,51,597,75,588,78,582,74,573,83,563,90,561,98,560,100,565,110,565,126,561,133,555,129,545,121,526,116,514,114,503,100,502,99,496,80,496,80,491,83,481,71,482,67,475,61,474" name="m24" href="http://www.pulseenergy.co.nz/content/southland" ALT="Powernet">
<area data-reveal-id="myModal" title="Otago Joint Venture" shape="poly" coords="168,505,151,488,151,482,146,476,137,476,135,479,136,489,135,505,129,508,136,522,147,523,157,520,166,525,157,529,148,536,141,529,136,525,129,511,129,524,121,524,132,550,147,540,147,538,158,529,166,525,164,520,160,518" name="m25" href="http://www.pulseenergy.co.nz/content/otago" ALT="Otago Net">
<area data-reveal-id="myModal" title="Orion" shape="poly" coords="205,374,199,382,185,384,180,392,183,399,187,400,196,407,197,411,217,429,224,427,234,427,239,430,244,428,248,424,246,418,240,416,236,415,234,410,232,406,218,410,212,405,207,400,211,392,217,382,210,381" name="m26" href="http://www.pulseenergy.co.nz/content/orion" ALT="Orion">
<area data-reveal-id="myModal" title="Powerco" shape="poly" coords="274,210,284,204,291,204,298,198,309,202,312,209,307,215,319,219,322,218,328,230,335,230,336,220,346,219,349,213,356,216,354,225,353,233,350,249,341,261,340,266,354,267,363,273,351,293,345,307,330,317,321,322,320,315,316,310,313,311,322,297,323,292,327,282,333,272,329,269,320,266,319,255,312,247,302,242,293,236,288,231,278,229,271,222,270,214" name="m27" ALT="Powerco">
<area data-reveal-id="myModal" title="Powerco" shape="poly" coords="327,94,335,101,334,103,337,104,340,103,339,107,340,109,344,113,343,116,345,119,345,122,345,131,345,137,346,142,348,145,354,145,368,153,366,159,347,160,342,173,338,174,335,165,332,158,336,157,334,153,331,149,329,147,329,140,324,126,332,123,327,111,329,103,330,102,326,99,324,95" name="m8" href="http://www.pulseenergy.co.nz/content/powerco-valley" ALT="Powerco">
<area data-reveal-id="myModal" title="WEL network" shape="poly" coords="305,159,306,152,304,141,314,138,313,134,321,124,323,126,328,139,328,145,329,149,325,153,317,157,311,159" name="m6" href="http://www.pulseenergy.co.nz/content/wel" ALT="WEL Networks">
<area data-reveal-id="myModal" title="Electra" shape="poly" coords="325,282,329,277,332,271,320,266,318,280,311,293,322,291,324,287" name="m17" href="http://www.pulseenergy.co.nz/content/electra" ALT="Electra">
<area data-reveal-id="myModal" title="Delta" shape="poly" coords="81,448,84,452,83,459,98,454,102,447,108,441,115,440,119,441,130,432,125,443,124,455,128,457,128,462,136,467,137,474,134,479,135,490,134,505,128,508,136,523,147,524,157,521,165,525,157,528,148,536,142,529,137,525,128,508,128,524,121,523,116,512,115,502,101,501,100,496,81,495,81,491,83,481,71,481,67,474,62,473,54,470,64,459,74,448" name="m14" ALT="Delta">
<area data-reveal-id="myModal" title="Westpower" shape="poly" coords="182,359,186,350,186,346,199,340,203,335,211,329,211,339,213,344,212,356,221,360,205,373,198,381,185,384,180,391,160,407,149,411,143,417,136,428,127,433,119,440,116,439,107,440,101,446,98,453,94,454,84,458,85,452,82,448,74,447,80,442,86,434,98,433,115,419,127,414,133,407,138,405,149,393,158,388,171,377" name="m31" href="http://www.pulseenergy.co.nz/content/westpower" ALT="Westpower/ElectroNet">
<area data-reveal-id="myModal" title="Horizon Energy" shape="poly" coords="369,173,364,176,365,180,370,181,369,191,370,195,373,196,391,189,386,185,390,178,398,172,407,161,411,163,419,149,416,148,416,143,421,140,417,140,413,145,408,146,400,156,393,159,386,159,376,155,370,153,367,159" name="m11" href="http://www.pulseenergy.co.nz/content/horizon" ALT="Horizon Energy">
<area data-reveal-id="myModal" title="Electricity Ashburton" shape="poly" coords="194,443,216,429,204,418,197,412,195,407,187,401,183,400,179,392,161,407,162,411,167,414,164,422,170,424,175,422,181,426,185,434" name="m32" href="http://www.pulseenergy.co.nz/content/ashburton" ALT="Electricity Ashburton">
<area data-reveal-id="myModal" title="Eastland" shape="poly" coords="423,139,429,142,435,146,430,154,429,165,427,175,425,185,414,191,411,202,415,209,411,214,409,207,404,206,396,206,385,210,376,205,372,197,379,194,393,190,388,185,389,180,396,175,407,162,412,164,420,149,417,147,417,144" name="m33" href="http://www.pulseenergy.co.nz/content/eastland" ALT="Eastland Network">
<area data-reveal-id="myModal" title="Mainpower" shape="poly" coords="211,380,205,374,218,363,223,357,226,354,234,345,245,346,248,349,241,357,248,360,255,352,267,344,267,348,272,351,265,362,260,365,260,371,252,384,236,396,232,405,218,409,207,400,213,389,218,381" name="m35" ALT="MainPower">
<area data-reveal-id="myModal" title="Top Energy" shape="poly" coords="231,7,248,29,247,35,245,37,260,60,267,57,282,54,289,46,285,41,285,37,281,40,277,38,279,35,273,34,271,31,262,28,257,29,257,27,257,27,254,25,258,22,255,20,251,24,249,22,246,17,242,15,245,4" name="m1" href="http://www.pulseenergy.co.nz/content/topenergy" ALT="Top Energy">
<area data-reveal-id="myModal" title="NorthPower Network" shape="poly" coords="280,90,261,60,271,57,283,55,289,47,298,57,298,67,290,63,291,67,298,76,296,80,292,83,288,83,283,79,281,81,285,86" name="m2" href="http://www.pulseenergy.co.nz/content/northpower" ALT="Northpower">
<area data-reveal-id="myModal" title="The Lines Company" shape="poly" coords="298,198,300,177,302,174,303,165,308,168,310,173,315,173,316,168,331,168,334,166,335,170,337,175,342,174,344,189,338,193,340,202,346,199,348,211,346,218,334,219,334,228,328,229,324,221,324,216,320,218,308,215,313,209,309,201" name="m9" href="http://www.pulseenergy.co.nz/content/lines-company" ALT="The Lines Company">
<area data-reveal-id="myModal" title="Buller network" coords="212,289,213,305,211,311,204,321,199,327,190,328,187,345,197,340,202,334,213,327,220,319,232,304,227,297,225,295,222,296,219,294,221,292,216,285" name="m0" href="http://www.pulseenergy.co.nz/content/buller" shape="poly" ALT="Buller Network">
<AREA data-reveal-id="myModal" title="Alpine Energy" SHAPE="POLY" name="m36"  COORDS="160,407,148,413,143,419,133,433,136,448,143,448,146,451,156,444,161,449,163,455,164,475,180,480,180,462,184,455,183,451,193,443,185,435,181,427,175,423,169,425,163,422,166,414,162,412,161,412" ALT="Alpine Energy">
<AREA data-reveal-id="myModal" title="Network Waitaki" SHAPE="POLY" name="m37" COORDS="133,431,131,433,125,443,125,455,129,457,129,462,137,467,138,475,145,475,152,482,152,488,168,504,169,496,175,485,179,481,163,475,163,458,162,454,160,449,156,445,146,452,142,449,135,449,134,439" ALT="Network Wiataki">
<AREA data-reveal-id="myModal" title="Scanpower" SHAPE="POLY" name="m13" COORDS="350,250,341,261,341,266,354,266,364,273,362,266,359,264,360,256,355,250" ALT="Scanpower">
<AREA data-reveal-id="myModal" title="Centralines" SHAPE="POLY" name="m39" COORDS="381,240,366,235,360,234,354,233,351,249,355,249,361,255,360,264,363,266,364,272,369,271,369,264,373,259,376,256,378,250,381,241" ALT="Centralines">
</map>